### - Python - ###

*.py[co]

### - OSX - ###

.DS_Store
._*
.Spotlight-V100
.Trashes

*.mode1v3
*.pbxuser
*.perspective 
*.perspectivev3
*.pyc 
*~.nib/
build/*
LocationTest/build/*

*/.DS_Store

*.xcuserdatad

FoursquareBrowser.xcodeproj/project.xcworkspace
FoursquareBrowser/IMPORTANT.h
