[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "SBTableAlert"]
	path = SBTableAlert
	url = http://github.com/blommegard/SBTableAlert
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "TestFlight-SDK"]
	path = TestFlight-SDK
	url = https://github.com/danielctull/TestFlight-SDK
